# School District Report and Analysis

### Importing Modules

In [2]:
import os 
import pandas as pd

### Reading in the Data Files

In [20]:
# Paths to the Data Files
school_csv_file_url  = 'Resources/schools_complete.csv'
student_csv_file_url = 'Resources/students_complete.csv'

# Reading in the Data Files
school_df  = pd.read_csv(school_csv_file_url)
student_df = pd.read_csv(student_csv_file_url)

### School DataFrame Display

In [15]:
school_df = school_df.rename(columns={'name':'school_name'})
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [22]:
student_df = student_df.rename(columns={'school':'school_name'})
student_df.head()

,Student ID,name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

### Joining the School DataFrame and the Student DataFrame

In [23]:
district_joined_df = pd.merge(student_df,school_df,how='left',on=["school_name", "school_name"])
district_joined_df

KeyError: 'school_name'

### Joined DataFrame Display

In [ ]:
district_df = district_joined_df[['School ID','type',]]